@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
