$size-context: 18;
$pcS: 1200px;
$tablet: 768px;
$white: #ffff;
$black: #1c1c21;
$yellow: #f4ca16;
$green: #47d867;
$lightgreen: #e6faea;
$grey: #d0d0d8;
$lightgrey: #f5f5f7;
$red: #ec6259;
$lightred: #fdeeed;
$orange: #ff8b37;
$preorange: #ffac70;
$lightorange: #fff3eb;
$darkorange: #e87928;
$mainFont: Inter;
